<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zybang.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyviewActivity" />
        <activity
            android:name=".dbActivity"
            android:label="@string/title_activity_db" />
        <activity
            android:name=".ui.activity.activity_lock"
            android:label="@string/title_activity_activity_lock" />
        <activity
            android:name=".ui.activity.WordsActivity"
            android:label="@string/title_activity_words" />
        <activity
            android:name=".ui.activity.backlayoutActivity"
            android:label="@string/title_activity_backlayout" />
        <activity
            android:name=".ui.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.ViewGroupActivity"
            android:label="@string/title_activity_view_group" />
        <activity
            android:name=".ui.activity.BezierActivity"
            android:label="@string/title_activity_bezier" />
        <activity
            android:name=".ui.activity.CameraActivity"
            android:label="@string/title_activity_camera" />
        <activity android:name=".ui.activity.EmojiActivity" />
        <activity
            android:name=".ui.activity.BackActivity2"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.recyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
